<h3>Testando IF e Else</h3>

@if (ehVerdadeiro) {
  <span>È VERDADEIRO SIM</span>
}@else {
  <span>É falso</span>
}

<h3>Testando Swith</h3>

@switch (status) {
  @case ('finalizado') {
    <span>Foi finalizado</span>
  }
  @case ('cancelado') {
    <span>Foi cancelado</span>
  }
  @default {
    <span>Nem um, nem outro</span>
  }
}

<h3>Testando For</h3>
@for (filme of filmes; track $index) {
  <span>{{filme}} {{$index}},</span>
}

<!-- <h3>Testando For com pipe async</h3>
@for (filme of filmes$ | async; track $index; let isLast = $last) {
  <p>{{filme}} {{$index}}
    <span>é ultimo: {{isLast}}</span>
  </p>
}@empty {
  <p>Lista vazia</p>
} -->

<!-- faz com que o componente so carregue somente quando precisar
  pode ter varias condições
-->
<!-- <h3 #marcador>Testando deferrable views</h3>
@defer(on viewport(marcador)) {
  <filme categoria="Ação"/>
}
@placeholder {
  <span>Carregando</span>
} -->

<!-- <h3 #marcador>Testando mais uma vez deferrable views</h3>
@for (filme of filmes; track $index) {
  <h5 #categoria>{{filme}}</h5>
  
  @defer (on viewport(categoria)) {
    <filme [categoria]="filme"/>
  }
} -->

<h3>Testando Input  transforms</h3>
<filme categoria="Ação"  disabled/>